body{
    margin: 10px;
}
#box1{
    border:5px solid;
    width: 250px;
    height: 250px;
    font-size: 22px;
    background-color: lightyellow;
    padding:10px;
    margin-left: 25px;
    margin-top: 20px;
    /*margin-left: auto;*/
}
#box2{
    border:5px solid;
    width: 250px;
    height: 250px;
    font-size: 22px;
    background-color: rgba(132, 42, 235, 0.384);
    padding:15px;
    margin:20px;
}

